# Nuxt build outputs
.nuxt/
.output/
.nitro/

# Node
node_modules/

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache
.cache/
dist/
